/* FormDemo.css */

.form-demo .card form {
  margin-top: 2rem;
}
.form-demo .card .field {
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 960px) {
  .form-demo .card {
    margin: 100px !important;
    padding: 20px;
    min-width: 400px;
  }
  .form-demo {
    height: 100vh !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f5f7 !important;
    padding: 100px 100px !important;
    bottom: 0;
    overflow: hidden;
  }
}

@media screen and (max-width: 500px) {
  .form-demo .card {
    padding: 20px;
    background-color: #f1f5f7;
    min-width: 340px;
  }
  .form-demo {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f5f7 !important;
    bottom: 0;
  }
}
@media screen and (max-width: 400px) {
  .form-demo .card {
    margin: 100px !important;
    padding: 20px;
    min-width: 350px;
  }
  .form-demo {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f5f7 !important;
    bottom: 0;
  }
}
.form-demo {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f5f7;
  bottom: 0;
}
.form-demo .card {
  margin: 100px !important;
  padding: 20px;
  min-width: 350px;
}

.message {
  position: absolute;
  bottom: 2px;
  color: rgb(7, 7, 36);
  font-weight: bolder;
}
